/* style.css */
body {

  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* hero block */
.hero {
  text-align: center;
  padding: 100px 20px;

  
  font-size: 20px;
  background-color: #23232345;
  color: rgba(255, 255, 255, 0.806);
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('../images/mushroom-bg.jpg');
  background-color: #046e44;
  background-position: center;
  background-size: cover;
  filter:blur(5px);
  z-index: -1;
}
/* end of hero block */


.cta {
  padding: 15px 30px;
  font-size: 1rem;
  background-color: #c7ab38;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* features block */
.features {
  background-color: #ffffff;
  display: flex;
  justify-content: space-around;
  padding: 50px 20px;
}

.feature-card {
  flex: 1;
  margin: 0 10px;
  padding: 20px;
  background: #eeeeee;
  border: 2px solid #ddd;
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
  overflow: hidden;
}

.feature-card .small-text{
  font-size: 16px;
  text-align: justify;
}

.feature-card .small-bullet-text{
  font-style: italic;
  color: rgb(26, 26, 26);
  padding-left:  15px;
  font-size: 16px;
  text-align: justify;
}

.feature-card .big-text{
  font-weight: bold;
  font-size: 18px;
  text-align: left;
}

.feature-card .dropdown {
  max-height: 0;
  overflow: hidden;
  transition: max-height 1s ease-in-out;
}

.feature-card.open .dropdown {
  max-height: 1000px;
}

.feature-card.open {
  border-color: #c6d384;
  background: #e0ffe9;
}

.feature-card.lock {
  background: #f4ffce;
  border-color: #9cffc4;
}
/* end of features block */

/* visual block */
.visual {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 50px 20px;
  background-color: #a0996a;
}

.visual img {
  width: 30%;
  max-width: 800px;
  margin: 0 auto;
  border-radius: 8%;
}
/* end of visual block */

/* info block */
.info {
  padding: 50px 20px;
  background-color: #ffffff;
}

.info .header-text{
  font-weight: bold;
  font-size: 30px;
  text-align: justify;
}

.info .medium-text{
  font-size: 20px;
  text-align: justify;
}

.info .small-text{
  font-size: 17px;
  text-align: justify;
}
/* end of info block */


.cta-final {
  text-align: center;
  background-color: #ffffff;
  padding: 70px 20px;
}

footer {
  text-align: center;
  padding: 20px;
  background: #333;
  color: #fff;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  .features {
    flex-direction: column;
  }
  .feature-card {
    margin: 10px 0;
  }

  .visual {
    flex-direction: column;
  }
  
  .visual img {
    width: 80%;
    margin: 20px 0;
  }
}